/* Contenedor del loader, centrado y con espacio */
.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Loader con animación de giro */
.loader {
  border: 8px solid #f3f3f3; /* Fondo claro para el spinner */
  border-top: 8px solid #0D47A1; /* Color primario para el borde superior */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
  margin-bottom: 10px;
}

/* Animación para el loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
